:root {
  background-color: white;
  width: auto;
}

ul {
  display: flex;
  flex-direction: column;

}
.carrinho {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #af3333;

}

/* Cabeçalho do Carrinho */
.headerCarrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
background-color: yellow;
}

.tituloCarrinho {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}


/* Itens do Carrinho */
.liCard {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: rgb(240, 237, 237);
  list-style: none;
  margin-bottom: 20px;
  border: 1px solid #dad8d8;
  padding: 10px;
}

.produto-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
 
}

.imagem-produto {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.produto-info {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.produto-info label {
 
  font-weight: bold;
  font-size: 16px;
}

.produto-info p {
  margin-top: auto ;
  margin-bottom: auto;
}

.quantidade {
  display: flex;
  align-items: center;
}

.quantidade button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.quantidade span {
  margin: 0 10px;
}

/* Total do Carrinho */
.totalCarrinho {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}