/* Button.css */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button-primary {
  background-color: blue;
  color: white;
}

.button-secondary {
  background-color: green;
  color: white;
}

.button-secondary-red {
  background-color: red;
  color: white;
}


.button-selected {
  background-color: red;
  color: white;
}
